html, body {
    font-size: 16px;
    font-family: $font-inter;
    font-weight: $font-weight-regular;
    color: $color-black-10;
}

a {
    color: $color-black-10;
    text-decoration: none;

    // &:hover {
    //     text-decoration: underline;
    // }
}

/* Buttons */
.theme-btn {
    border: 1px solid $color-beige;
    color: $color-black-10;
    background-color: $color-yellow;
    padding: 15px 35px 15px 35px;
    border-radius: 30px;
    transition: all 0.25s ease-in-out;



    &:hover {
        background-color: $color-yellow-hover;
        text-decoration: none;

    }

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }
    
}

.beige-theme-btn {
    border: 1px solid $color-black-10;
    color: $color-black-10;
    background-color: transparent;
    padding: 15px 35px 15px 35px;
    border-radius: 30px;
    transition: all 0.25s ease-in-out;


    &:hover {
        background-color: $color-yellow-hover;
        text-decoration: none;
    }

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }
    
}

.black-theme-btn {
    border: 1px solid $color-black-10;
    color: $color-white;
    background-color: $color-black-10;
    padding: 15px 35px 15px 35px;
    border-radius: 30px;
    transition: all 0.25s ease-in-out;


    &:hover {
        background-color: $color-button-border;
        border: 1px solid $color-button-border;
        text-decoration: none;
    }

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }
    
}

.white-theme-btn {
    border: 1px solid $color-black-10;
    background-color: $color-white;
    padding: 15px 35px 15px 35px;
    border-radius: 30px;
    transition: all 0.25s ease-in-out;


    &:hover {
        background-color: $color-beige;
        text-decoration: none;
    }

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }
    
}

.orange-text {
    font-size: 18px;
    font-weight: $font-weight-medium;
    color: $color-orange;
}

/* Articles card */
.news-card {
    position: relative;
    transition: all 0.25s ease-in-out;
    padding: 5px;
    margin-bottom: 50px;
    display: inline-block;

    &:hover {
        background-color: $color-beige;
        border-radius: 10px;
        padding: 5px;
    }
    
    .datum-box {
        position: absolute;
        left: 16px;
        top: 16px;
        padding: 18px 15px 12px 15px;
        line-height: 1.2;
        background-color: $color-yellow;
        font-family: $font-DMsans;
        font-size: 22px;
        font-weight: $font-weight-bold;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 

        span {
            font-family: $font-inter;
            font-size: 16px;
            font-weight: $font-weight-regular;
        }
    }

    .news-image {
        width: 420px;
        height: 230px;
        overflow: hidden;


        img {
            width: 420px;
            height: auto;
        }

    }

    .news-category {
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: $font-weight-regular;
    }

    .news-text {
        font-family: $font-DMsans;
        font-size: 22px;
        font-weight: $font-weight-bold;
        margin-bottom: 24px;

    }

    .news-body-text {
        font-weight: $font-weight-regular;
    }
}


/* Article recent */
.recent-article-post {
    background-color: $color-beige;
    padding-bottom: 70px;

    .orange-text {
        padding-top: 40px;
    }

}
.dot-pagnation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .dot-link {
        .dot-active {
            color: $color-black-10; 
        }
        i {
            color: $color-dot-pagnation;
            font-size: 0.8em;

            &:hover {
                color: $color-black-10;
            }
        }
    }
}
