$color-white: #FFFFFF;

$color-beige: #F0EFE9;
$color-yellow: #F9D783;
$color-yellow-hover: #fcb90f;

$color-orange: #F94D1C;
$color-lightblue: #BEEBFF;

$color-black-10: #191919;
$color-black-20: #0E1021;


$color-border: #dad9d3;
$color-button-border: #707070;

