@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-inter: 'Inter', sans-serif;
$font-DMsans: 'DM Sans', sans-serif;

$font-weight-light : 300;
$font-weight-regular : 400;
$font-weight-medium : 500;
$font-weight-semibold : 600;
$font-weight-bold : 700;


