.articles {

    .container {

        .article-title {
            font-size: 45px;
            font-family: $font-DMsans;
            font-weight: $font-weight-bold;
            margin-top: 140px;
            margin-bottom: 40px;
        }

        .articles-grid {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
        }

        .item-pagination {
            text-align: center;

            .item-link {
                padding: 5px 15px 5px 15px;
                margin: 3px;
                border: 1px solid $color-border;
                border-radius: 5px;
                font-family: $font-DMsans;
                font-size: 21px;
                font-weight: $font-weight-medium;
                transition: all ease-in-out 0.25s;

                &:hover {
                    background-color: $color-black-10;
                    color: $color-white;
                    border: 1px solid $color-black-10;
                }  

            }
            .active {
                background-color: $color-black-10;
                color: $color-white;
                border: 1px solid $color-black-10;
            }
        }
    }
}