.article-section {
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 140px;
        // position: relative;


        .the-article {
            width: 768px;
            .article-title {
                font-family: $font-DMsans;
                font-size: 45px;
                font-weight: $font-weight-bold;
                margin-top: 130px;
            } 

            .article-info {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 30px;
                margin-top: 30px;
                margin-bottom: 70px;
                font-family: $font-DMsans;
                font-size: 20px;
                font-weight: $font-weight-medium;

                .circle {
                    font-size: 0.8rem;
                    margin-top: 8px;
                    color: $color-yellow;
                }
            }
        }

        .article-image {
            width: 768px;
            height: 500px;
            overflow: hidden;
            img {
                width: 768px;
                height: auto;
            }
        }

        // .article-text {

        // }

        .article-tags {
            margin-top: 45px;
            display: flex;
            justify-content: flex-start;
            align-items: center;


            .tag {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: $font-weight-medium;
                background-color: $color-form-background;
                width: 115px;
                height: 40px;
                margin-right: 12px;
                border-radius: 25px;
            }
        }

        .posts {    

            .search-posts {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &:hover {

                    .search-btn {
                        background-color: $color-border;
                    }

                    .search-post {
                        background-color: $color-border;
                    }
                }

                .search-btn {
                    color: $color-black-10;
                    border: none;
                    padding: 15px 0px 15px 30px;
                    background-color: $color-form-background;
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                    transition: all 0.25s ease-in-out;

                }

                .search-post {
                    border: none;
                    padding: 15px 50px 15px 15px;
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;
                    background-color: $color-form-background;
                    width: 100%;
                    transition: all 0.25s ease-in-out;

                    &:focus {
                        outline: none;
                    }
                }
            }
            
            .recent-posts {
                padding: 50px 35px 40px 35px;
                margin-top: 40px;
                border: 1px solid $color-border-post;

                .recent-post-title {
                    font-size: 22px;
                    font-family: $font-DMsans;
                    font-weight: $font-weight-bold;
                }

                .post-link {
                    &:hover {
                        .post-title {
                            text-decoration: underline;
                        }
                    }

                    .post {
                        margin-top: 25px;
                        
    
                        .post-title {
                            font-size: 16px;
                            font-weight: $font-weight-bold;
                            font-family: $font-DMsans;
                        }
    
                        .post-datum {
                            font-size: 14px;
                            font-family: $font-inter;
                            font-weight: $font-weight-regular;
                            color: $color-black-28;
                            padding-bottom: 15px;
                            margin-bottom: 20px;
                            border-bottom: 1px solid $color-border-post;
                        }
                    }
                }
            }

            .post-categories {
                margin-top: 40px;
                border: 1px solid $color-border-post;
                padding: 50px 35px 40px 35px;

                .post-categories-title {
                    font-size: 22px;
                    font-family: $font-DMsans;
                    font-weight: $font-weight-bold;
                    margin-bottom: 25px;
                }

                .categories {
                    font-size: 16px;
                    font-family: $font-DMsans;
                    font-weight: $font-weight-bold;
                    list-style: none;
                    padding: 0;

                    a {
                        &:hover {
                            text-decoration: underline;
                        }

                        li {
                            padding-bottom: 10px;
    
                        }
                        span {
                            color: $color-button-border;
                        }
                    }
                }
            }
        }
    }
}