.footer {
    background-color: $color-black-20;
    color: $color-white;
    padding-top: 110px;
    padding-bottom: 110px;
    border-bottom: 1px solid $color-black-25;
    position: relative;

    .footer-effect {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-info {
            width: 310px;
            height: 208px;
            margin-bottom: 60px;


            .logo-text {
                color: $color-black-30;
                margin-top: 30px;
                line-height: 1.5;
            }
        }

        .contact-info {

            .contact-title {
                font-size: 22px;
                font-weight: $font-weight-bold;
                font-family: $font-DMsans;
                margin-bottom: 38px;
            }

            .contact {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    margin-top: 20px;
                    a {
                        color: $color-black-30;
                    }
                }
            }
        }

    }
}

.mini-footer {
    background-color: $color-black-20;
    color: $color-white;
    padding-top: 30px;
    padding-bottom: 30px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .mini-footer-title {
            color: $color-black-30;
        }

        .footer-social-media {

            i {
                color: $color-white;
                margin-left: 18px;
                font-size: 1.2rem;
            }
        }


    }
}