.news {
    
    .container {
        margin-top: 110px;
        .news-content {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .news-title {
                font-family: $font-DMsans;
                font-size: 45px;
                font-weight: $font-weight-bold;
            }
        }
        .news-cards {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            margin-top: 40px;
            
        }
    }
}